.right-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;

    & input {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 120%;
        background-color: transparent;
        outline: none;
        border: none;
        color: #FFFFFF;

        &::placeholder {
            color: #FFFFFF;
        }

        text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
    }

    &-img-div {
        width: 40px;
        height: 40px;
        align-items: center;
        display: flex;
        justify-content: center;

        & img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
    }

    &-button {
        width: 60px;
        height: 60px;
        background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 99.45%);
        border-radius: 20px;
        padding: 16px;

        & img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
    }
}