.weekforecast {
    padding-top: 80px;

    &-list {
        display: flex;
        flex-direction: row;
        max-width: 600px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 5px;
            height: 10px;
            background-color: rgba(26, 24, 47, 0.15);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            border: 3px solid rgba(134, 92, 253, 0.85);
            background: #713FFD;
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:not(:last-child) {
                margin-right: 60px;
            }

            background: rgba(255, 255, 255, 0.2);
            color: white;
            padding: 20px 30px;
            border-radius: 12px;


            &-image {
                width: 80px;
                margin: 30px 0 ;

                img {
                    max-width: 100%;
                    max-width: 100%;
                    display: block;
                }
            }


            & p {
                font-family: 'Overpass';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
            }
        }
    }
}